
*.fls
*.fls
*.aux
*.log
*.synctex(busy)
*.toc
*.fdb_latexmk
main.aux
main.fls
main.log
main.pdf
main.toc
*.aux
*.gz
*.aux
Parts/core_tech/robots_total_cyborgs.aux
Parts/core_tech/machines_as_characters.aux
Parts/core_tech/computer.aux
